<form method="post" action="/events/create">
  <div class="form-group">
    <label for="formGroupExampleInput">Summary</label>
    <input type="text" class="form-control" name="summary" id="summary" placeholder="Summary">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <input type="text" class="form-control" name="description" id="description" placeholder="Description">
  </div>
  <div class="md-form md-outline input-with-post-icon datepicker">
    <label>Start date</label>
    <input placeholder="Start date" type="date" name="startDate" id="startDate" class="form-control">
  </div>
  <div class="md-form md-outline input-with-post-icon datepicker">
    <label>End date</label>
    <input placeholder="End date" type="date" name="endDate" id="endDate" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>